name: Release
on:
  push:
    tags: '[2-9][0-9]\.[0-9][0-9]'
jobs:
  create-release:
    name: Create release
    runs-on: ubuntu-latest
    outputs:
      upload_url: ${{ steps.create-release.outputs.upload_url }}
    steps:
      - name: Changelog
        id: changelog
        uses: mikepenz/release-changelog-builder-action@v5
        with:
          mode: "COMMIT"
          configurationJson: |
            {
              "pr_template": "- #{{TITLE}}",
              "template": "#{{UNCATEGORIZED}}",
              "tag_resolver": {
                "method": "sort",
                "filter": {
                  "pattern": "[2-9][0-9]\\.[0-9][0-9]",
                  "method": "match"
                }
              }
            }

      - name: Checkout code
        uses: actions/checkout@v5

      - name: Compile LaTeX document
        uses: xu-cheng/latex-action@v4
        with:
          root_file: thesis.tex

      - name: Create Release
        id: create-release
        uses: softprops/action-gh-release@v2
        with:
          body: ${{steps.changelog.outputs.changelog}}
          files: thesis.pdf
